.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #fff6f6; /* rojo Miniso */
  color: rgb(63, 58, 58);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-logo {
  height: 40px;
}

.header-nav a {
  margin-left: 20px;
  color: rgb(49, 43, 43);
  text-decoration: none;
  font-weight: 600;
  transition: opacity 0.2s;
}

.header-nav a:hover {
  opacity: 0.8;
}

.header-favorites {
    width: 24px;
    height: 24px;
}

.header-favorites:hover {
    opacity: 0.8;
}

.nav-icon {
    width: 24px;
    height: 24px;
}
.cart-icon-wrapper {
  position: relative;
  display: inline-block;
}

.cart-count {
  position: absolute;
  top: -4px;
  right: -4px;
  background: #ec1c24;
  color: white;
  font-size: 11px;
  font-weight: bold;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

